# macOS metadata
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*

# macOS filesystem and volume metadata
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# AFP share metadata
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# JetBrains IDEs
.idea/
